[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = "*"
asyncpg = "*"
psycopg = "*"
python-dotenv = "*"
async-lru = "*"
httpx = "*"
pandas = "*"
colorlog = "*"
python-dateutil = "*"
newrelic = "*"
pydantic-settings = "*"
deepdiff = "*"
fastapi-utilities = "*"

[dev-packages]

[requires]
python_version = "3.11"
